---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
---

<Layout title="Water Me - Stay Hydrated">
  <div
    class="flex flex-col items-center justify-center min-h-screen bg-gradient-to-br from-[#00617a] via-[#206f86] to-[#618c9f] text-white"
  >
    <!-- Contenu principal -->
    <main class="flex flex-col items-center text-center">
      <Hero
        title="Water Me"
        subtitle="Restez hydraté, sans effort !"
        description="Programmez des rappels d'hydratation et laissez Water Me vous aider à boire la quantité d'eau idéale chaque jour."
      />

      <div class="flex flex-col sm:flex-row gap-4 mt-4 sm:mt-6">
        <a
          href="/reminders"
          class="px-6 py-3 bg-[#ffffff] text-[#206f86] rounded-lg text-base sm:text-lg font-semibold shadow-lg hover:bg-gray-200 transition-colors"
        >
          Démarrer
        </a>
        <button
          class="px-6 py-3 bg-white text-[#206f86] rounded-lg text-base sm:text-lg font-semibold shadow-lg hover:bg-gray-200 transition-colors"
        >
          Se connecter
        </button>
      </div>
    </main>

    <!-- Pied de page -->
    <footer
      class="absolute bottom-4 text-gray-300 text-xs sm:text-sm px-4 text-center"
    >
      © 2025 Water Me. Stay Hydrated. 💙
    </footer>
  </div>
</Layout>
