---
import "../styles/global.css";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.png" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="min-h-screen">
    <slot />
  </body>
</html>

<script>
  import { supabase } from "../lib/supabase.ts";

  // Vérifier si l'utilisateur est connecté
  const checkAuth = async () => {
    const {
      data: { user },
    } = await supabase.auth.getUser();
    const authButtons = document.getElementById("authButtons");
    const logoutButton = document.getElementById("logoutButton");

    if (user) {
      if (authButtons) authButtons.style.display = "none";
      if (logoutButton) logoutButton.style.display = "block";
    } else {
      if (authButtons) authButtons.style.display = "block";
      if (logoutButton) logoutButton.style.display = "none";
    }
  };

  // Gérer la déconnexion
  const handleLogout = async () => {
    const { error } = await supabase.auth.signOut();
    if (error) {
      console.error("Erreur de déconnexion:", error.message);
    } else {
      window.location.href = "/";
    }
  };

  // Exécuter la vérification au chargement
  checkAuth();

  // Écouter les changements d'état d'authentification
  supabase.auth.onAuthStateChange((event) => {
    if (event === "SIGNED_OUT") {
      window.location.href = "/";
    }
  });
</script>

<style is:global>
  :root {
    --accent: 136, 58, 234;
    --accent-light: 224, 204, 250;
    --accent-dark: 49, 10, 101;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      rgb(var(--accent-light)) 30%,
      white 60%
    );
  }
  html {
    font-family: system-ui, sans-serif;
    background: #13151a;
    background-size: 224px;
  }

  code {
    font-family:
      Menlo,
      Monaco,
      Lucida Console,
      Liberation Mono,
      DejaVu Sans Mono,
      Bitstream Vera Sans Mono,
      Courier New,
      monospace;
  }
</style>
